<% content_for(:title, t('.title')) %>
<div class="container pt-3">
   <div class="funny">
     <div style="text-align: center"><img src="https://i.gyazo.com/785b42178afcf20113ec3be07c595c02.png"/></div>
    </div>
    <br>
   <div class="row">
     <div class="col-lg-10 offset-lg-1">
       <%= render 'search_form', url: clips_path %>
     </div>
     <%= paginate @clips %>
   </div>

   <div class="row">
     <div class="col-12">
       <div class="row">
          <% if @clips.present? %>
             <%= render @clips %>
          <% else %>
             <p><%= t('.no_result') %></p>
          <% end %>
       </div>
       <%= paginate @clips %>
     </div>
   </div>
</div>
