<% content_for(:title, t('.title')) %>
<div class="container pt-3">
    <div class="best">
     <div style="text-align: center"><img src="https://i.gyazo.com/983b38c91acd5066d61630d2cef008f2.png"/></div>
    </div>
    <br>
   <div class="row">
     <div class="col-lg-10 offset-lg-1">
       <%= render 'search_form', url: videos_path %>
     </div>
     <%= paginate @videos %>
   </div>

   <div class="row">
     <div class="col-12">
       <div class="row">
          <% if @videos.present? %>
             <%= render @videos %>
          <% else %>
             <p><%= t('.no_result') %></p>
          <% end %>
       </div>
       <%= paginate @videos %>
     </div>
   </div>
</div>
