<% content_for(:title, @video.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
            </div>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @video.title %></h3>
              <%= render 'crud_menus', video: @video if current_user.own?(@video) %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @video.user.decorate.full_name %></li>
                <li class="list-inline-item"><%= l @video.created_at, format: :long  %></li>
              </ul>
            </div>
          </div>
          <p align="center"><video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" width="70%" height="70%" autoplay="true" muted="true" controls></video></p>
        </div>
      </article>
    </div>
  </div>
</div>
