<%= form_with model: party_board, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :title %>
      <br>
      <%= f.select :title, ['カジュアル募集', 'ランク募集', 'クラン募集'], {include_blank: '選択してください'} %>
    </div>
    <div class="form-group">
      <%= f.label :recruit %>
      <br>
      <%= f.select :recruit,  ['募集中', '募集済'], {include_blank: '選択してください'} %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', rows: 10 %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
<% end %>
