<% content_for(:title, t('.title')) %>
<div class="col-sm-12 col-lg-4 mb-3">
  <div id="party_board-id-<%= party_board.id %>">
   <div class="card">
    <div class="card-body">
      <h4 class="card-title">
          <%= link_to party_board.title, party_board_path(party_board) %>
      </h4>
      <% if current_user.own?(party_board) %>
        <%= render 'crud_menus', party_board: party_board  %>
      <% else %>
        <%= render 'bookmark_button', party_board: party_board %>
      <% end %>
      <ul class="list-inline">
        <li class="list-inline-item">
          <%= icon 'far', 'user' %>
          <%= party_board.user.decorate.full_name %>
        </li>
        <li class="list-inline-item">
          <%= icon 'far', 'calendar' %>
          <%= l party_board.created_at, format: :long %>
        </li>
      </ul>
      <p class="card-text"><%= party_board.body %></p>
    </div>
  </div>
 </div>
</div>

      